*.pyc
Data/*
tmp/*
ref/*
test
*pyc
*.idf
*.xlsx
*.csv
*.xls
*.pdf
*.xls
*.txt
*.epw
PlayGame_Test-v25-For-PV.py
RL control ref/*
runs/*
wandb/*
Figures/*
Data/*
!Large office - 1AV940.idf
!Large office - 1AV232.idf
!USA_FL_Miami.722020_TMY2.epw
Archive results/*
To do/*
tmp/*
LLM-RL/*
!Prompt template/*